.container-inf-step {
    width: 100%;
    max-width: 800px;
}

.form-inf-buy {
    min-height: 500px;
}

.form-inf-buy h2 {
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-color: var(--color-main-opaque);
}

/* Parte de los métodos de pago */

:root {
    --card-padding: 1rem;
    --radio-size: 20px;
    --radio-border-width: 2px;
}

.grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;  
}

@media (min-width: 42em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border-width: 1px;
    width: 300px;
}

.card:hover {
    box-shadow: 5px 5px 10px var(--color-gray-dark);
}

.radio {
    position: absolute;
    top: calc(var(--card-padding) + var(--radio-border-width));
    right: calc(var(--card-padding) + var(--radio-border-width));
    font-size: inherit;
    margin: 0;
    height: var(--radio-size);
    width: var(--radio-size);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
}

.radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3rem;
    height: 0.7rem;
    background: transparent;
    border: var(--radio-border-width) solid var(--color-gray);
    border-left: 0;
    border-top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.radio:checked {
    background: var(--color-main-opaque);
    border-color: var(--color-main-opaque);
}

.radio:checked::after {
    opacity: 1;
}

.radio:checked~.plan-details {
    border-color: var(--color-main-opaque);
}

.plan-details {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--border-radius);
    text-align: center;
    transition: border-color 0.2s ease-out;
}

.plan-details img {
    width: fit-content;
    height: 150px;
    display: block;
    margin: 0 auto;
}

/* Parte de los pasos */

.main-container-buy {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.step-container {
    justify-content: right;
    position: relative;
    height: 100%;
    row-gap: 6em;
    width: 10%;
}

.progress-bar-background {
    position: absolute;
    background: var(--color-main-soft);
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.progress-bar-foreground {
    position: absolute;
    background-color: var(--color-main);
    width: 4px;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: height 0.4s ease-in-out;
}

.step-wrapper {
    position: relative;
    z-index: 1;
    align-items: center;
}

.step-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background);
    border: 3px solid var(--color-main-soft);
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.step-circle.completed {
    border-color: var(--color-main);
}

.step-circle.incomplete {
    border-color: var(--color-main-soft);
}

/* Estilo de los botones */

.flex-space-between #button-standard {
    width: inherit;
}