.filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 300px;
    background-color: var(--background);
    border-right: 1px solid #e0dfdf;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    /* El filtro se queda fijo */
    position: sticky;
    top: 90px;
    height: fit-content;
}

.category-options {
    display: none;
    transition: max-height 0.3s ease-in-out;
}

.category-options.open {
    display: block;
}

.price input[type="range"] {
    width: 100%;
}

.order-by label {
    cursor: pointer;
}

.category-options label {
    cursor: pointer;
}

/* Todo lo relacionado a la lista de productos */

.content {
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
}

.list-product {
    display: grid;
    width: 100%;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 768px) {
    .catalog {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .search input {
      width: 150px;
    }
  }

.list-product article {
    background-color: var(--background);
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    aspect-ratio: 1 / 1;
}

.img-container {
    display: relative;
    width: 100%;
    height: 70%;
    border-radius: 8px;
    border-width: 1px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.details {
    width: 100%;
    height: 30%;
    padding: 10px;
    text-align: center;
}

/* Overlay para oscurecer */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    color: var(--background);
}

.list-product article:hover .overlay {
    opacity: 2;
}

.overlay button {
    color: var(--background);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}