/* Contenedores principales */

.catalog {
    background-color: #FFFFFF;
    padding: 5px;
    padding-top: 80px;
}

.main {
    display: flex;
    gap: 5px;
}


/* Filtro */

.filter {
    width: 20%;
    background-color: #FFFFFF;
    padding: 15px;
    border-right-color: #e0dfdf;
    border-right-width: 1px;
    align-items: center;
}

.category,
.price,
.order,
.filter h1 {
    padding: 10px;
    padding-left: 0px;
}

.price h2,
.order h2 {
    padding-bottom: 15px;
    font-size: 22px;
}

.filter h1,
.filter h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: bold;
    color: #444;
}

.filter select,
.price input,
.price label {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

/* Elimina el borde azul de enfoque en algunos navegadores */
.price input,
.search-product input {
    outline: none;
    box-shadow: none;
}

.price input:focus {
    border: 1px solid #DC8148;
}

.option {
    display: flex;
    align-items: center;
}

.category-options label,
.order-by label {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter button {
    background-color: #DC8148;
    color: #fff;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter button:hover {
    background-color: #eba278;
    transform: scale(1.05);
}

.arrow-icon {
    margin-left: 8px;
    transition: transform 0.3s ease-in-out;
}

.arrow-icon.open {
    transform: rotate(180deg);
}

.category-options {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.category-options input {
    margin-right: 8px;
}

.category-options label {
    color: #333;
    font-size: 16px;
    margin-bottom: 8px;
}


/* Todo lo relacionado a la lista de productos */

.content {
    width: 90%;
    height: 100%;
    padding: 10px;
    justify-content: center;
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.search-product {
    border-bottom-width: 1px;
}

.list-product {
    display: grid;
    gap: 10px;
}

.list-product.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.list-product.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.list-product article {
    background-color: #ffffff;
    height: 330px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.img {
    width: 100%;
    height: 224px;
    padding: 4px;
    border-radius: 8px;
    border-width: 1px;
}

.details {
    width: 100%;
    height: 36px;
    padding: 10px;
    text-align: center;
}

.list-product h2 {
    font-size: 22px;
    margin: 0;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.list-product p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

/* Overlay para oscurecer */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    color: #ffffff;
}

.list-product article:hover .overlay {
    opacity: 2;
}

.overlay button {
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* La parte de búsqueda */

.search {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.search-product input {
    padding-left: 8px;
    padding-right: 8px;
    outline: none;
    box-shadow: none;
}

.view,
.search-product {
    display: flex;
    padding-right: 5px;
}

/* Si el producto no se encuentran productos */
.empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    color: #555;
}

.empty-message img {
    margin-bottom: 20px;
    filter: grayscale(100%);
}

.empty-message p {
    font-size: 18px;
    color: #888;
}