.contents {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.toggle-button {
    display: flex;
    cursor: pointer;
    transition: transform 0.2s;
}

.toggle-button img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.toggle-button img.close {
    transform: rotate(90deg);
}

.menu-content-text {
    width: 90%;
    font-weight: 600;
    margin-bottom: 10px;
}

.option-dashboard {
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px; 
    margin-bottom: 8px;   
    border-radius: 8px;
}

.option-dashboard:hover {
    background-color: var(--color-main-hover);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.submenu {
    list-style: none;
    margin-top: 10px;
}

.submenu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.submenu li:hover {
    color: var(--background);
}

.submenu li:hover img {
    filter: brightness(0) invert(1);
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-and-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-content {
    display: none;
    padding-left: 20px;
}

.menu-content.open {
    display: block;
}

.toggle-button {
    position: block;
    top: 100px;
    right: 100%;
    cursor: pointer;
}

/* Aquí inicia la parte de las tarjetas */

.dashboard-card-motion {
    width: var(--card-motion-width);
    height: var(--card-motion-height);
}

:root {
    --card-motion-height: 300px;
    --card-motion-width: calc(var(--card-motion-height) / 1.5);
}

.card-motion {
    width: var(--card-motion-width);
    height: var(--card-motion-height);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    padding: 0 10px;
    perspective: 2500px;
    border-radius: var(--border-radius);
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: var(--border-radius);
}

.card-motion:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: var(--border-radius);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: var(--border-radius);
}

.wrapper::before {
    top: 0;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.card-motion:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
    border-radius: var(--border-radius);
}

.card-motion:hover .wrapper::after {
    height: 120px;
    border-radius: var(--border-radius);
}

.title-card-motion {
    width: 100%;
    padding-bottom: 20px;
    color: var(--background);
    transition: transform 0.5s;
}

.card-motion:hover .title-card-motion {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    height: 230px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card-motion:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}