.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: width 0.3s;
    width: 20%;
    padding: 10px;
    padding-top: 80px;
    border-right: 1px solid #e0dfdf;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container.collapsed {
    width: 65px;
}

.contents {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.toggle-button {
    display: flex;
    cursor: pointer;
    transition: transform 0.2s;
}

.toggle-button img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.toggle-button img.close {
    transform: rotate(90deg);
}

.menu-content-text {
    width: 90%;
    font-weight: 600;
    margin-bottom: 10px;
}

.option-dashboard {
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
}

.option-dashboard:hover {
    background-color: #f7f7f7;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-and-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow-icon {
    margin-left: auto;
    transform: rotate(0);
    transition: transform 0.3s;
    width: 10px;
    height: 10px;
}

.arrow-icon.open {
    transform: rotate(180deg);
}

.menu-content {
    display: none;
    padding-left: 20px;
}

.menu-content.open {
    display: block;
}

.toggle-button {
    position: block;
    top: 100px;
    right: 100%;
    cursor: pointer;
}