.container {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 80px;
  max-width: none;
}

.main-detail {
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.return {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.details-product {
  display: flex;
  gap: 40px;
}

.detail-product {
  padding: 10px;
  width: auto;
}

.detail-product h1 {
  font-weight: 1000;
  font-size: 35px;
}

.detail-product h2 {
  font-size: 30px;
  padding-bottom: 40px;
}

.detail-product h3 {
  font-weight: 700;
  font-size: 25px;
  border-bottom-width: 1px;
}

.detail-product p {
  font-size: 22px;
  padding-top: 10px;
}

.cantProduct {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0e0e0;
}

.cantProduct input {
  width: 40px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.cantProduct input:focus {
  border: 1px solid #dc8148;
}

.buttonCart {
  background-color: #dc8148;
  color: #fff;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 500px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.buttonCart:hover {
  background-color: #eba278;
  transform: scale(1.05);
}
