.main-shoppingcart {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100%;
}

.main-shoppingcart .flex-column  {
    margin: 10px;
    border-radius: var(--border-radius);
    border-width: 1px;
    overflow-y: scroll;
}

.list-shoppingcart {
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.details-buys h2 {
    text-align: center;
}

.product {
    display: flex;
    border-bottom-width: 1px;
    padding: 5px;
    position: relative;
    gap: 15px;
}

.product .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.product .delete:hover {
    transform: scale(1.1);
}

.no-products {
    text-align: center;
    font-size: 18px;
    color: var(--color-gray-dark);
    padding: 20px;
}

.product img {
    border-radius: var(--border-radius);
    object-fit: cover;
}

.product-info {
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%
}

.product-info h6 {
    padding-right: 20px;
}

.content-buys {
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    border-radius: var(--border-radius);
}