.container {
    padding: 20px;
    padding-top: 80px;
    margin: auto;
}

.container h1 {
    font-weight: 1000;
    font-size: 42px;
    text-align: center;
}

.main-shoppingcart {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100%;
}

.content-shoppingcart {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    border-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: scroll;
    gap: 20px;
}

.list-shoppingcart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.details-buys table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.details-buys table th,
.details-buys table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product {
    display: flex;
    border-bottom-width: 1px;
    padding: 10px;
    position: relative;
    gap: 15px;
    width: 100%;
}

.product .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.product .delete:hover {
    transform: scale(1.1);
}

.no-products {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
}

.cantProductCart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.cantProductCart input {
    width: 40px;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
}

.cantProductCart input:focus {
    border: 1px solid #DC8148;
}

.product img {
    border-radius: 8px;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%
}

.product-info h2,
.product-info p {
    font-size: 20px;
    margin: 0;
    padding-right: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.content-buys {
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
}

.details-buys h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-buys span,
.details-buys h3,
.details-buys h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.details-buys h3 {
    padding-top: 10px;
    font-weight: 700;
    border-bottom-width: 1px;
}

.details-buys table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.details-buys table th,
.details-buys table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.details-buys table th {
    background-color: #eba278;
}

.buttom-buys {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #DC8148;
    color: #fff;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.buttom-buys:hover {
    background-color: #eba278;
}

.return {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}