.container-tod {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 88px 10px 10px 10px;
    flex-direction: column;
}

.container-tod-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title-password {
    color: var(--color-main);
    font-size: 3.5rem;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}

.container-password {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    max-width: 1200px;
    width: 100%;
}

.img-password {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 400px;
    height: auto;
}

@media (max-width: 1024px) {
    .title-password {
        font-size: 3.5rem;
    }

    .container-password {
        gap: 1.5rem;
        padding: 0px 20px;
    }
}

@media (max-width: 768px) {
    .title-password {
        font-size: 3rem;
    }

    .container-tod {
        justify-content: flex-start; 
        padding-top: 80px;
    }

    .container-password {
        flex-direction: column;
        text-align: center;
    }

    .img-password {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .title-password {
        font-size: 2.5rem;
    }

    .container-password {
        padding: 0px 20px;
    }
}

