.container-pos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 54rem;
    width: 28%;
    background-color: var(--background);
    border-right-color: #e0dfdf;
    border-right-width: 1px;
    justify-items: center;
    align-items: center;
}